.container {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.container > * {
	position: relative;
	margin-left: -16px;
	transition: transform 0.2s ease;
}

.container > *:first-child {
	z-index: 6;
	margin-left: 0;
}

.container > *:nth-child(2) {
	z-index: 5;
}

.container > *:nth-child(3) {
	z-index: 4;
}

.container > *:nth-child(4) {
	z-index: 3;
}

.container > *:nth-child(5) {
	z-index: 2;
}

.container > *:nth-child(6) {
	z-index: 1;
}

.container > *:hover {
	z-index: 10 !important;
	transform: translateY(-2px);
}
