.container {
	display: flex;
	flex-direction: column;
}

.name {
	text-align: center;
}

.img {
	display: grid;
	align-self: center;
	max-width: min-content;
}

.states {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
