.card {
	display: flex;
}

.move_button {
	align-self: center;
}

.card_content {
	display: flex;
	width: 80%;
}

.text {
	align-self: center;
	width: 40%;
}

.price {
	display: flex;
	justify-content: end;
	align-self: center;
	width: 20%;
}

.ingredient_action {
	display: flex;
	align-self: center;
}

.hidden {
	visibility: hidden;
}
